@{
	ProductImage main = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == true);
	ProductImage hover = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == false);
}
@model UpdateProductVM


<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<form class="forms-sample" method="post" enctype="multipart/form-data">


						<div class="form-group">
							<img style="width:150px;height:150px " src="~/assets/images/website-images/@main.Url"/>
							<div class="form-group">
								<label asp-for="MainPhoto">MainPhoto</label>
								<input asp-for="MainPhoto" class="form-control" id="MainPhoto" placeholder="MainPhoto" accept="image/*">
								<span class="text-danger" asp-validation-for="MainPhoto"></span>
							</div>
						</div>

						<div class="form-group">
						
							<img style="width:150px;height:150px" src="~/assets/images/website-images/@hover.Url" />
						</div>

						<div class="form-group">
							<label asp-for="HoverPhoto">HoverPhoto</label>
							<input asp-for="HoverPhoto" class="form-control" id="HoverPhoto" placeholder="HoverPhoto" accept="image/*">
							<span class="text-danger" asp-validation-for="HoverPhoto"></span>
						</div>

						

						<div class="form-group" d-flex">

							@foreach (ProductImage image in Model.ProductImages.Where(pi=>pi.IsPrimary==null))
							{
									<div class="position-relative">
								
								<img style="width:150px;height:150px" src="~/assets/images/website-images/@image.Url" />
						<button  type="button" style="right:0;" class="btn btn-danger position-absolute">X</button>
						<input asp-for="ImageIds" type="hidden" value="@image.Id">
								</div>
								<div class="form-group">
									<label asp-for="Photos">Photos</label>
									<input asp-for="Photos" class="form-control" id="Photos" placeholder="Photos" accept="image/*">
									<span class="text-danger" asp-validation-for="Photos"></span>
								</div>
							}

							<label asp-for="Image">Image</label>
							<input asp-for="Image" class="form-control" id="Image" placeholder="Images" >
							<span class="text-danger" asp-validation-for="Image" ></span>
						</div>
						<div class="form-group">
							<label asp-for="Tittle">Tittle</label>
							<input asp-for="Tittle"  class="form-control" id="Tittle" placeholder="Tittle">
							<span class="text-danger" asp-validation-for="Tittle"></span>
						</div>
						<div class="form-group">
							<label asp-for="Price">Price</label>
							<input asp-for="Price"  class="form-control" id="Price" placeholder="Price">
							<span class="text-danger" asp-validation-for="Price"></span>
						</div>
					
						<div class="form-group">
							<label asp-for="CategoryId">CategoryId</label>
							<input asp-for="CategoryId" class="form-control" id="name" placeholder="CategoryId" >
							<span class="text-danger" asp-validation-for="CategoryId"></span>
						</div>
						<select asp-for="CategoryId">
							@foreach (Category category in @Model.Categories)
							{
								<option value="@category.Id">@category.Name</option>
							}
						</select>
					@* 	<select asp-for="TagIds">
							@foreach (Tag tag in @Model.Tags)
							{
								<option value="@tag.Id">@tag.Name</option>
							}
						</select> *@
						<button type="submit" class="btn btn-primary me-2">Submit</button>
						<a asp-action="Index" class="btn btn-light">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


							<script>
	var btn = document.querySelectorAll("cus-delete")

								for (let i = 0; i <= btns.length; i++) {
									btns[i].addEventListener("click", function () {
										btns[i].parentElement.remov()
									})
								}
							</script>